
.map {
  padding: 35px 340px 80px 350px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: var(--cl-primary-blue);
}

.map__list {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  list-style: none;
}

.map__item {
  padding-top: 15px;
}

.map__item:first-child{
  padding-top: 0;
}

.map__title {
  padding: 35px 0 20px 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Plumb';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;

  letter-spacing: -0.01em;

  color: #FFFFFF;
}

.map__link {
  font-size: 16px;
  line-height: 1.35;

  color: #FFFFFF;
  text-decoration: none;
}

.map__link:hover {
  font-size: 16px;
  line-height: 1.35;

  text-decoration-line: underline;
  color: var(--cl-primary-yellow);
}
