.section-events__link {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Plumb';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;

  text-align: right;
  letter-spacing: -0.01em;
  text-decoration-line: underline;

  color: var(--cl-primary-dark);
}

.section-events__arrow{
  padding: 0 0 0 12px;
  margin: 0;
  box-sizing: border-box;
}

.section-events__link:hover .section-events__arrow{
  animation: var(--animation-shake-element);
}
