.news__ad-image {
  max-width: 445px;
  height: auto;
  object-fit: contain;
  transition: var(--transition-shadow);
}

.news__ad-link:hover .news__ad-image {
  box-shadow: var(--transition-property-shadow);
}

@media screen and (max-width:1024px){
  .news__ad-image{
    max-width: 100%;
  }
}
