.text-card {
  background-color: var(--color, var(--cl-primary-icecream, #555));
  margin: 0;
  padding: 30px 40px;
  box-sizing: border-box;

  transition: var(--transition-shadow);
}

.text-card:hover {
  box-shadow: var(--transition-property-shadow);
}

@media screen and (max-width:700px) {
  .text-card{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
