.footer {
  padding: 60px 0 70px 0;
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: var(--cl-primary-green);
}

@media screen and (max-width:1280px){
  .footer{
    max-width: 100%;
  }
}
