.news {
  padding: 75px 0 70px 0;
  box-sizing: border-box;
  background-color: var(--cl-primary-icecream);
}

.news__container {
  padding: 0;
  margin: auto;

  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  gap: 125px;

}

.news__ad-list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.news__ad-item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.news__ad-link {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.news__ad-image {
  transition: var(--transition-shadow);
}

.news__ad-link:hover .news__ad-image {
  box-shadow: var(--transition-property-shadow);
}

.news__wrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.news__header {
  padding: 0 0 30px 0;
  margin: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.news__title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Plumb';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #2E373B;
}

.news__title-link {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Plumb';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;
  text-align: right;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: #2E373B;
}

.news__arrow {
  padding: 0 0 0 10px;
  margin: 0;
  box-sizing: border-box;
}

.news__title-link:hover .news__arrow {
  animation: var(--animation-shake-element);
}

.news__list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news__item {
  padding: 0 0 20px 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  gap: 0 30px;
}

.news__image-link {
  grid-row: 1/3;
  grid-column: 1/2;
}

.news__image {
  width: 160px;
  height: auto;
  object-fit: contain;

  transition: var(--transition-shadow);
}

.news__image-link:hover .news__image{
  box-shadow: var(--transition-property-shadow);
}


.news__date {
  grid-row: 1/2;
  grid-column: 2/3;

  align-self: end;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 1.35;
  color: var(--cl-primary-red);
}

.news__description {
  grid-row: 2/3;
  grid-column: 2/3;

  align-self: center;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Plumb';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.news__description-link {
  color: var(--cl-primary-dark);
  text-decoration: none;
}

.news__description-link:hover {
  text-decoration: underline;
}
